body {
    color: #2F2F2F;
    margin: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.jumbotron {
    background-color: #EFEEEE;
    padding: 30px 25px;
    border-radius: 5px;
}

h1 {
    padding: 10px 0;
    margin: 0;
}

button {
    background-color: #5584BA;
    color: whitesmoke;
    border-radius: 5px;
    padding: 4px 7px;
    border: 1px solid black;
}

.board {
    border: 2px solid black;
    margin: 20px auto;
    width: 312px;
    height: 312px;
}

.box {
    justify-content: center;
    font-size: 5rem;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    float: left;
    margin: 0;
}

.row {
    display: block;
}